<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Video">
    <meta name="application-name" content="Video">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <script>
        const ROOM_ID = "<%= roomId %>"
        const SERVER_URL = "<%= serverURL %>"
        const PEER_URL = "<%= peerURL %>"
        const PEER_PORT = "<%= peerPort %>"
    </script>
    <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
    <title>Mirror</title>
    <link rel="stylesheet" href="/tooltip.css" />
    <style>
        @font-face {
            font-family: 'Product Sans';
            font-style: normal;
            font-weight: 400;
            src: local('Product Sans'), local('ProductSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
        }

        body {
            margin: 0;
            background-color: #222;
            font-family: 'Product Sans';
        }

        #main-video {
            position: absolute;
            width: 100vw;
            height: 100vh;
            margin: 0;
        }

        #video-grid {
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            top: 0;
            left: 0;
            transition: all ease 0.4s;
        }

        .video-grid-hidden {
            transform: translateY(-100%);
        }

        .mini-video {
            width: 8.5em;
            height: 8.5em;
            object-fit: cover;
            margin-left: 0.8em;
            margin-top: 0.8em;
            border-radius: 0.5em;
            cursor: pointer;
            box-shadow: 0px 2px 12px 1px #00000033;
        }

        .ui-button-fill {
            width: 2.8em;
            height: 2.8em;
            border-radius: 100em;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .ui-button-icon {
            width: 1.4em;
            height: 1.4em;
        }

        .control-group {
            display: flex;
            box-shadow: 0px 3px 6px 1px #00000033;
            margin-bottom: 1.5em;
            position: absolute;
            background-color: white;
            border-radius: 1000px;
            padding: 0.5em;
            transition: all ease 0.4s;
        }

        #main-controls {
            right: 50%;
            bottom: 0;
            transform: translateX(50%);
        }

        #secondary-controls {
            margin-left: 1.5em;
            left: 0;
            bottom: 0;
        }

        .hover-darker {
            transition: all ease 0.2s;
        }

        .hover-darker:hover {
            filter: brightness(0.6);
        }

        .invisible {
            opacity: 0;
        }

        .no-cursor {
            cursor: none !important;
        }

        .display-none {
            display: none !important;
        }

        .track-indicator-container {
            position: relative;
            display: flex;
            margin-left: 1.2em;
            transform: translateY(-1.8em);
        }

        .track-indicator-circle {
            width: 1.2em;
            height: 1.2em;
            background-color: white;
            border-radius: 100em;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 0.25em;
            box-shadow: 0px 0px 3px 1px #00000033;
        }

        .ui-button-fill:not(:first-child) {
            margin-left: 0.6em;
        }

        @media (max-width:600px) {
            .mini-video {
                width:calc((100vw/3) - 1.1em);
                height:calc((100vw/3) - 1.1em);
            }
            #main-controls {
                right: 0;
                bottom: 0;
                transform: none;
                margin-right: 1.5em;
            }
            #secondary-controls {
                flex-direction: column;
            }
            .secondary-option {
                margin-left: 0 !important;
            }
            .secondary-option:not(:first-child) {
                margin-top: 0.6em;
            }
        }

        .track-indicator {
            fill: red;
            width: 0.6em;
            height: 0.6em;
        }
    </style>
</head>

<template id="mini-video-template">
    <div id="elements" class="hover-darker">
        <video id="video" class="mini-video" onclick="selectMainVideo(this)"></video>
        <div class="track-indicator-container">
            <div id="mic" class="display-none track-indicator-circle">
                <svg class="track-indicator" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 38">
                    <path
                        d="M32 18h-3.4c0 1.49-.31 2.87-.87 4.1l2.46 2.46C31.33 22.61 32 20.38 32 18zm-8.03.33c0-.11.03-.22.03-.33V6c0-3.32-2.69-6-6-6s-6 2.68-6 6v.37l11.97 11.96zM2.55 2L0 4.55l12.02 12.02v1.44c0 3.31 2.67 6 5.98 6 .45 0 .88-.06 1.3-.15l3.32 3.32c-1.43.66-3 1.03-4.62 1.03-5.52 0-10.6-4.2-10.6-10.2H4c0 6.83 5.44 12.47 12 13.44V38h4v-6.56c1.81-.27 3.53-.9 5.08-1.81L33.45 38 36 35.46 2.55 2z" />
                </svg>
            </div>
            <div id="vid" class="display-none track-indicator-circle">
                <svg class="track-indicator" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
                    <path
                        d="M38 9l-8 8v-7c0-1.1-.9-2-2-2H15.64L38 30.36V9zM2.55 0L0 2.55 5.45 8H4c-1.1 0-2 .9-2 2v20c0 1.1.9 2 2 2h24c.41 0 .77-.15 1.09-.37L35.46 38 38 35.45 2.55 0z" />
                </svg>
            </div>
        </div>
    </div>
</template>

<body>
    <video id="main-video"></video>
    <div id="video-grid"></div>
    <div class="control-group invisible" id="main-controls">
        <div data-tooltip="Micrófono (M)" class="ui-button-fill" style="background-color: gainsboro;">
            <div onclick="toggleMediaStreamTrack('audio')" class="ui-button-fill hover-darker"
                style="background-color: gainsboro;">
                <svg id="mic-on" class="svg-white ui-button-icon" style="fill: #333;" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 28 38">
                    <path
                        d="M14 24c3.31 0 5.98-2.69 5.98-6L20 6c0-3.32-2.68-6-6-6-3.31 0-6 2.68-6 6v12c0 3.31 2.69 6 6 6zm10.6-6c0 6-5.07 10.2-10.6 10.2C8.48 28.2 3.4 24 3.4 18H0c0 6.83 5.44 12.47 12 13.44V38h4v-6.56c6.56-.97 12-6.61 12-13.44h-3.4z" />
                </svg>
                <svg id="mic-off" class="display-none svg-white ui-button-icon" style="fill: #333;"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 38">
                    <path
                        d="M32 18h-3.4c0 1.49-.31 2.87-.87 4.1l2.46 2.46C31.33 22.61 32 20.38 32 18zm-8.03.33c0-.11.03-.22.03-.33V6c0-3.32-2.69-6-6-6s-6 2.68-6 6v.37l11.97 11.96zM2.55 2L0 4.55l12.02 12.02v1.44c0 3.31 2.67 6 5.98 6 .45 0 .88-.06 1.3-.15l3.32 3.32c-1.43.66-3 1.03-4.62 1.03-5.52 0-10.6-4.2-10.6-10.2H4c0 6.83 5.44 12.47 12 13.44V38h4v-6.56c1.81-.27 3.53-.9 5.08-1.81L33.45 38 36 35.46 2.55 2z" />
                </svg>
            </div>
        </div>
        <div data-tooltip="Salir (E)" class="ui-button-fill"
            style="margin-left: 0.6em; background-color: #f44336;">
            <div onclick="endCall()" class="ui-button-fill hover-darker" style="background-color: #f44336;">
                <svg class="svg-white ui-button-icon" style="fill: white;" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 36 36">
                    <path
                        d="M7.25 15.59a30.12 30.12 0 0 0 13.18 13.17l4.4-4.41c.55-.55 1.34-.71 2.03-.49C29.1 24.6 31.51 25 34 25c1.11 0 2 .89 2 2v7c0 1.11-.89 2-2 2C15.22 36 0 20.78 0 2a2 2 0 0 1 2-2h7c1.11 0 2 .89 2 2 0 2.49.4 4.9 1.14 7.14.22.69.06 1.48-.49 2.03l-4.4 4.42z" />
                </svg>
            </div>
        </div>
        <div data-tooltip="Video (V)" class="ui-button-fill" style="background-color: gainsboro;">
            <div onclick="toggleMediaStreamTrack('video')" class="ui-button-fill hover-darker"
                style="background-color: gainsboro;">
                <svg id="vid-on" class="svg-white ui-button-icon" style="fill: #333;" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 36 24">
                    <path
                        d="M28 9V2c0-1.1-.9-2-2-2H2C.9 0 0 .9 0 2v20c0 1.1.9 2 2 2h24c1.1 0 2-.9 2-2v-7l8 8V1l-8 8z" />
                </svg>
                <svg id="vid-off" class="display-none svg-white ui-button-icon" style="fill: #333;"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
                    <path
                        d="M38 9l-8 8v-7c0-1.1-.9-2-2-2H15.64L38 30.36V9zM2.55 0L0 2.55 5.45 8H4c-1.1 0-2 .9-2 2v20c0 1.1.9 2 2 2h24c.41 0 .77-.15 1.09-.37L35.46 38 38 35.45 2.55 0z" />
                </svg>
            </div>
        </div>
    </div>
    <div class="control-group invisible" id="secondary-controls">
        <div data-tooltip="Compartir Pantalla (S)" data-tooltip-location="right" class="ui-button-fill secondary-option"
            style="z-index: 100; background-color: gainsboro;">
            <div onclick="newShareScreenTab()" class="ui-button-fill hover-darker" style="background-color: gainsboro;">
                <svg class="svg-white ui-button-icon" style="fill: #333;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 36">
                    <path d="M40 0H4C1.79 0 0 1.79 0 4v24c0 2.21 1.79 4 4 4h10v4h16v-4h10c2.21 0 3.98-1.79 3.98-4L44 4c0-2.21-1.79-4-4-4zm0 28H4V4h36v24z"/>
                </svg>
            </div>
        </div>
        <div data-tooltip="Mostrar/Ocultar Videos (H)" data-tooltip-location="right" class="ui-button-fill secondary-option"
            style="z-index: 99; background-color: gainsboro;">
            <div onclick="toggleVideoGrid()" class="ui-button-fill hover-darker" style="background-color: gainsboro;">
                <svg class="svg-white ui-button-icon" style="fill: #333;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 32">
                    <path d="M32 0H4C1.79 0 0 1.79 0 4v24c0 2.21 1.79 4 4 4h8v-4H4V8h28v20h-8v4h8c2.21 0 4-1.79 4-4V4c0-2.21-1.79-4-4-4zM18 12l-8 8h6v12h4V20h6l-8-8z"/>
                </svg>
            </div>
        </div>
        <div id="pip-button" data-tooltip="Picture in Picture (P)" data-tooltip-location="right" class="ui-button-fill secondary-option"
            style="z-index: 98; background-color: gainsboro;">
            <div onclick="togglePiP()" class="ui-button-fill hover-darker" style="background-color: gainsboro;">
                <svg class="svg-white ui-button-icon" style="fill: #333;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 36">
                    <path d="M40 0H4C1.8 0 0 1.8 0 4v28c0 2.2 1.8 4 4 4h36c2.2 0 4-1.8 4-4V4c0-2.2-1.8-4-4-4zM22 18H4V4h18v14z" />
                </svg>
            </div>
        </div>
        <div data-tooltip="Pantalla Completa (F)" data-tooltip-location="right" class="ui-button-fill secondary-option"
            style="background-color: gainsboro;">
            <div onclick="fullScreen()" class="ui-button-fill hover-darker" style="background-color: gainsboro;">
                <svg class="svg-white ui-button-icon" style="margin: 0.8em; fill: #333;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28">
                    <path d="M4 18H0v10h10v-4H4v-6zm-4-8h4V4h6V0H0v10zm24 14h-6v4h10V18h-4v6zM18 0v4h6v6h4V0H18z" />
                </svg>
            </div>
        </div>
    </div>
</body>

</html>